<html>
<%include homepage %>
<h4>Incorrect Password</h4>
<style>
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 15px 100px;
  border: center;
  cursor: pointer;
  width: 30%;
}

</style>
<form method='POST' action='/tryAgain'>
  <div class="container">

  <button type="submit">Try Again</button>
</div>
</form>
