<% include homepage %>
<html>

<style>
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 15px 250px;
    border: center;
    cursor: pointer;
    width: 50%;

}
</style>
<div class="container">
	 <form  method="POST" action ="/visitor">
     <button type="submit" class="signupbtn">Visitor</button>

</form>
<form   method="POST" action="/student">

    <button type="submit" class="signupbtn">Student</button>
	</div>
    </form>
		</html>
